// BRAND COLORS

$sophosi-yellow: #fcb315;
$sophosi-red: #e63f43;
$sophosi-black: #2b2b2b;
$sophosi-blue: #0060d3;

// GLOBAL PAGE COLORS

$white: #fff;
$black: #1d1e26;
$light-grey: #f0f0f0;

body.refreshed-lp {

	.yellow {
		color: $sophosi-yellow;
	}

	.red {
		color: $sophosi-red;
	}
}
