body.refreshed-lp{
	
	form {

		select {
			opacity: 0;
			width: 0px;
			height: 0px;
			position: absolute;
		}

		input, .select-styled > div {
			padding: 10px;
			width: 350px;
			@media (max-width: $fablet) { width: 200px;}
			margin: 5px;
			@media (max-width: $fablet) { margin: 2px 0; }
			font-size: 14px;
			background: $white;
			border: none;
			color: $black;
		}

		input#checkbox {
			width: auto;
			margin-top: 14px;
			// ie specific:
			background: none;
			padding: 0;
			+ label {
				font-size: 14px;
				a {
					color: $sophosi-yellow;
					font-weight: unset;
					font-size: 14px;
					font-family: $body-font;
					@include underlineHover();
				}
			}
		}

		button, .button {
			@include button(22px);
			margin-top: 10px;

			&#submit {
				font-size: 14px;
			}
		}

		.select-styled {
			position: relative;
			display: inline-block;

			> div {
				position: relative;
				text-align: left;

				&:after {
					content: '';
					position: absolute;
					top: 18px;
					right: 20px;
					width: 0; 
					height: 0; 
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid $black;
					transition: transform 0.1s ease;
				}

				&.active {

					&:after {
						transform: rotate(180deg);
					}
				}
			}

			ul {
				@include clear();
				background: $white;
				opacity: 0;
				height: 0px;
				pointer-events: none;
				transition: all .2s ease;
				box-shadow: 1px 1px 8px rgba($black, 0.3);
				position: absolute;
				width: 370px;

				@media (max-width: $fablet) { 
					width: 220px; 
					left: 0;
				}

				left: 5px;
				border-radius: 2px;
				overflow: hidden;

				&.active {
					opacity: 1;
					height: initial;
					pointer-events: all;
				}

				li {
					background: $white;
					overflow: hidden;
					padding: 15px;
					color: $black;
					font-size: 14px;
					transition: background .2s ease;
					cursor: pointer;

					&:nth-child(odd) {
						background: $light-grey;
					}

					&:hover {

						@media (min-width: $tablet) {
							background: $sophosi-yellow;
						}
					}
				}
			}
		}
	}

	#popup {
		display: none;

		&.active {
			display: block;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba($black, 0.4);
			color: $black;
		}

		.lightbox-container {
			width: 70%;
			max-width: 500px; 
			position: absolute;
			top: 200px;
			left: 0;
			right: 0;
			margin: 0 auto;
			background: $white;
			padding: 50px;

			@media (max-width: $tablet) { 
				padding: 20px; 
			}

			input {
				border: 2px solid $light-grey;
				display: block;
				margin: 20px auto;
			}

			.close-lightbox {
				position: absolute;
				width: 30px;
				height: 30px;
				background: $sophosi-red;
				border-radius: 50%;
				top: -15px;
				right: -15px;
				font-family: $headline-font;
				font-weight: 700;
				color: $white;
				font-size: 18px;
				line-height: 28px;
				cursor: pointer;
				transition: background 0.2s ease;

				&:hover {
					@media (min-width: $tablet) {
						background: $sophosi-yellow;
					}
				}
			}
		}
	}

	.g-recaptcha > div {
		margin: 10px auto;
	}

}