body.refreshed-lp {
	#intro {

		header {
			@include clear();

			figure {
				float: left;
			}

			div {
				float: right;
			}

			@media (max-width: $fablet) {

				figure, div {
					float: none;
					width: 100%;
					text-align: center;
				}
			}
			
			p {
				font-family: $headline-font;
				font-size: 16px;

				a {
					color: $sophosi-red;
					@include underlineHover();
				}
			}

			.button {
				@include button(14px, $sophosi-blue);
				display: block;
				text-align: center;
				padding: 12px;
				margin-top: 15px;
				@media (max-width: $fablet) { margin-bottom: 20px;}
			}
		}

		#hero {
			background: url(../../img/sophosi-hero-bg.jpg) center bottom no-repeat;
			background-size: cover;
			min-height: 785px;
			@media (max-width: $fablet) { min-height: 600px; }
			position: relative;

			&:after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 0;
				background: -moz-linear-gradient(top, rgba(26,26,26,0) 12%, rgba(26,26,26,0) 26%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(26,26,26,0) 12%,rgba(26,26,26,0) 26%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(26,26,26,0) 12%,rgba(26,26,26,0) 26%,rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
				
				@media (max-width: $fablet) {
					background: -moz-linear-gradient(top, rgba(26,26,26,0.4) 1%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(26,26,26,0.4) 1%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(26,26,26,0.4) 1%, rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
				}
			}

			.hero-cta {
				text-align: center;
				position: absolute;
				z-index: 10;
				right: 0;
				left: 0;
				width: 100%;
				bottom: -25px;
				margin: 0 auto;
				box-sizing: border-box;
				padding: 0 10px;
				@media all and (max-width: $fablet) { padding: 80px 40px 0; }
				max-width: 1300px;
				color: $white;

				h2 {
					@include headlineDecoration($sophosi-yellow);
				}

				p {
					margin: 10px auto;
					max-width: 800px;
					&.yellow { font-family: $headline-font; }
				}

				span { color: $sophosi-yellow; }
				button { margin-top: 15px; }
			}
		}
	}

	.intro-panel {
		text-align: center;

		h3 {
			@include headlineDecoration();
		}

		p {
			margin: 20px auto;
			max-width: 820px;

		}
	}

	.alternate-offering {
		@include clear();
		@include flexbox();
		@media (max-width: $fablet) { display: block; }
		@include justify-content(space-between);

		figure {
			width: 50%;
			float: left;
			margin: 0 10px 0 0;

			@media (max-width: $fablet) { 
				margin: 0 auto;
				width: 100%; 
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		div {
			width: 48%;
			float: right;
			background: $light-grey;
			margin: 0;
			align-items: center;
			@include flexbox();
			@media (max-width: $fablet) { 
				margin: 20px auto 0;
				width: 100%; 
			}

			div {
				width: 80%;
				max-width: 480px;
				margin: 0 auto;
				display: block;
				padding: 50px 0;
				
				p {
					margin: 20px 0;
				}

				.button {
					@include button(14px, $sophosi-blue);
				}
			}
		}
	}
}

// administrator specific styling

body.refreshed-lp.administrator {

	#intro {

		#hero {
			background: url(../../img/sophosi-admin-hero-bg.jpg) center top no-repeat;

			&:after {
				background: -moz-linear-gradient(top, rgba(26,26,26,0) 12%, rgba(26,26,26,0.7) 55%, rgba(26,26,26,0.95) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(26,26,26,0) 12%,rgba(26,26,26,0.7) 55%,rgba(26,26,26,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(26,26,26,0) 12%,rgba(26,26,26,0.7) 55%,rgba(26,26,26,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
			}
		}

		header .button {
			@include button(14px, $sophosi-yellow);
			color: $black;
			display: block;
			text-align: center;
			padding: 12px;
			margin-top: 15px;
			@media (max-width: $fablet) { margin-bottom: 20px;}
		}
	}

	.stats {
		@include clear();
		text-align: left;
		@media (max-width: $fablet) { text-align: center; }
		margin-bottom: 90px;

		.third {
			width: 33%;
			@media (max-width: $fablet) { width: 100%; }
			float: left;
			@media (max-width: $fablet) { float: none; }
			@media (max-width: $fablet) { &:nth-child(2) { margin: 40px auto; } }

			.container {
				max-width: 300px;
				width: 90%;
				margin: 0 auto;
			}
		}

		.title {
			font-family: $headline-font;
			font-size: 58px;
			@media (max-width: $small-desktop) { font-size: 40px; }
			@media (max-width: $below-tablet) { font-size: 30px; }
			font-weight: bold;
			line-height: 59px;
			@media (max-width: $small-desktop) { line-height: 1.1; }
		}

		.yellow-border {
			border-left: 4px solid $sophosi-yellow;
			@media (max-width: $fablet) { border-left: none; }
			padding-left: 30px;
			@media (max-width: $tablet) { padding-left: 10px; }
			@media (max-width: $fablet) { padding-left: 0; }
			font-family: $headline-font;
			font-weight: 600;
			p {
				font-size: 19px;
				@media (max-width: $small-desktop) { font-size: 16px; }
				@media (max-width: $below-tablet) { font-size: 14px; }
				line-height: 1.3;
			}
		}
	}
	.quote {
		& > p:first-of-type {
			@include headlineDecoration();
			font-size: 28px;
			@media (max-width: $small-desktop) { font-size: 20px;}
			@media (max-width: $fablet) { font-size: 16px;}
			line-height: 50px;
			@media (max-width: $small-desktop) { line-height: 36px;}
			@media (max-width: $fablet) { line-height: 26px;}
			font-family: $headline-font;
			font-weight: bold;
			max-width: 1100px;
		}

		& > p:not(:first-of-type) {
			font-family: $headline-font;
			font-weight: bold;
			font-size: 16px;
			line-height: 1.5;
			@media (max-width: $small-desktop) { font-size: 12px;}
		}
		.dual-copy {
			@include clear();
			margin-top: 65px;
			text-align: left;
			p {
				width: 40%;
				@media (max-width: $tablet) { width: 80%; }
				@media (max-width: $fablet) { width: 100%; }
				float: left;
				@media (max-width: $tablet) { float: none; }
				margin-left: 5%;
				@media (max-width: $tablet) { margin-left: auto; }
				font-size: 20px;
				@media (max-width: $tablet) { font-size: 16px; }
				@media (max-width: $fablet) { font-size: 14px; }
				line-height: 29px;
				margin-bottom: 0;
			}
			p:last-of-type {
				float: right;
				@media (max-width: $tablet) { float: none; }
				margin-right: 5%;
				@media (max-width: $tablet) { margin-right: auto; }
			}
		}
	}
}
